.wrapper {
  padding: 100px 0;
  position: relative;
  z-index: 1;
  background: var(--Base-0);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 64px;
}
.headingContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  max-width: 600px;
  margin: 0 auto;
}

.content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 35px 18px;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 18px;

  border-radius: 24px;
  border-radius: 24px;
  background: linear-gradient(180deg, #f3f4f6 0%, #fff 100%);
  padding: 24px;
}

.imgContainer {
  width: 100%;
}
.img {
  max-width: 80px;
  width: 100%;
}
@media only screen and (max-width: 1199px) {
  .content {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 991px) {
  .content {
    grid-template-columns: repeat(1, 1fr);
    max-width: 550px;
    margin: 0 auto;
  }
  .card {
    padding: 18px;
  }
  .infoContainer {
    gap: 12px;
  }
}
@media only screen and (max-width: 767px) {
  .wrapper {
    padding: 60px 0;
  }
}
@media only screen and (max-width: 520px) {
  .wrapper {
    padding: 80px 0;
  }
  .container {
    gap: 48px;
  }
  .card {
    padding: 12px;
    border-radius: 18px;
  }

  .img {
    border-radius: 18px;
  }
}
